header {
	width: 100%;
	background-color: #E9ECFF;
	height: 81px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 37px;
	font-family: "Instrument Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.logo img {
	max-width: 44px;
	max-height: 26px;
	margin-right: 5px;
}

.mobile-menu {
	display: none;
	margin-right: 20px;
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
}

.navigation li {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	font-family: "Geist Mono", monospace;
	font-weight: 400;
	font-size: clamp(12px, 2vw, 15px);
}

.navigation li:not(:last-child) {
	margin: 0 16px;
}

.navigation li:hover {
	background-color: #808CFD;
	border-radius: 7.25px;
}




form {
	font-family: "Geist", sans-serif;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	width: 100%;
	margin: 20px auto 0 auto;
}

.form-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form li {
	display: flex;
	flex-direction: column;

}

input {
	padding: 10px;
	width: 100%;
	height: 60px;
	font-size: 36px;
	border: 2px solid #ccc;
	border-radius: 6px;
	outline: none;
	text-transform: uppercase;
}

button {
	display: flex;
	padding: 10px;
	background-color: #33b400;
	cursor: pointer;
	text-transform: uppercase;
}


footer .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #E9ECFF;
	padding: 40px;
}

.footer-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	background-color: #E9ECFF;
}

.footer-head img {
	width: 16%;
	max-width: 80px;
}

.footer-head a {
	font-family: "Instrument Sans", sans-serif;
	font-weight: 700;
	font-size: clamp(28px, 4vw, 52px);
	color: #000000;
}

footer .container ul {
	margin-bottom: 10px;
}

footer .container p {
	display: flex;
	flex-direction: row;
	align-items: center;
}

footer .container span {
	margin-right: 50px;
}



footer .container ul div {
	font-weight: 600;
	text-transform: uppercase;
}



footer .container ul div {
	font-weight: 600;
	text-transform: uppercase;
}

@media (max-width: 800px) {

	.hero-list li:first-child {
		width: 533px;
		height: 300px;
	}

	.hero-list li:not(:first-child) {
		width: 266px;
		height: 300px;
	}

	.hero-list h4 {
		font-size: 35px;
	}

	.features ul li:first-child {
		font-size: 36px;
		padding: 17px 20px;
	}

	.features ul li:not(:first-child) {
		padding: 17px 19px;
		border-top: #0000006b 1px solid;
	}

	.features ul {
		height: 470px;
	}

	.photo {
		width: 400px;
		height: 470px;
		overflow: hidden;
		position: relative;
	}


	.features .photo img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

@media (max-width: 650px) {
	footer .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 20px;
	}


}

@media (max-width: 550px) {
	body.navigation {
		overflow: hidden;
	}

	body.navigation.active {
		overflow: hidden;
	}

	.navigation.active {
		position: fixed;
		transform: translateX(-89%);
		margin-top: 54.5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 40px 37px;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.911);
		transition: transform 0.5s ease-in-out;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 30px;
		text-transform: uppercase;
		z-index: 10;
		overflow: hidden;
	}

	.navigation {
		position: fixed;
		transform: translateX(100%);
		margin-top: 54.5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 40px 37px;
		width: 375px;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.911);
		transition: transform 0.5s ease-in-out;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 30px;
		text-transform: uppercase;
		z-index: 10;
		overflow: hidden;
	}

	.navigation li {
		display: flex;
		align-items: center;
		justify-content: left;
		width: 100%;
		padding: 12px 17px;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 15px;
		border-bottom: #000000 1px solid;
	}

	.navigation li:hover {
		background-color: #808CFD;
		border-radius: 7.25px;
	}



	.mobile-menu {
		display: block;
		cursor: pointer;
	}

	.open {
		display: none;
	}

	.close {
		display: block;
	}

	.mobile-menu.active .open {
		display: block;
	}

	.mobile-menu.active .close {
		display: none;
	}


	footer .container {
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;
	}

}