header {
	width: 100%;
	background-color: #E9ECFF;
	height: 81px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 37px;
	font-family: "Instrument Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.logo img {
	max-width: 44px;
	max-height: 26px;
	margin-right: 5px;
}

.mobile-menu {
	display: none;
	margin-right: 20px;
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
}

.navigation li {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	font-family: "Geist Mono", monospace;
	font-weight: 400;
	font-size: clamp(12px, 2vw, 15px);
}

.navigation li:not(:last-child) {
	margin: 0 16px;
}

.navigation li:hover {
	background-color: #808CFD;
	border-radius: 7.25px;
}

.about-hero {}

.about-hero h1 {
	font-family: "Anek Tamil", sans-serif;
	font-weight: 800;
	font-size: clamp(56px, 6vw, 116px);
	text-transform: uppercase;
	letter-spacing: -5px;
	line-height: 110%;
	color: #000000;
	padding: 20px;
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	max-width: 100%;
	max-height: 168px;
	display: flex;
	align-items: center;
	justify-content: left;
}

.about-hero .container {}

.about-hero .container ul {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.about-hero .container ul li {
	max-height: 480px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.about-hero .container h4 {
	font-family: "Anek Tamil", sans-serif;
	font-weight: 700;
	font-size: 45px;
	line-height: 91%;
	color: #000000;
	margin: 20px 20px 200px 20px;
	text-transform: uppercase;
}

.about-hero .container h6 {
	font-family: "Anek Tamil", sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 131%;
	color: #000000;
	margin: 0px 0px 0px 20px;
}

.about-hero .container p {
	display: block;
	font-family: "Geist, sans-serif";
	font-weight: 400;
	font-size: 17px;
	line-height: 131%;
	color: #000000;
	margin: 20px;
}

.about-hero .container ul li:first-child {
	background-color: #808CFD;

}

.photo-1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}


.photo-2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;

}

.about-hero .container ul li:last-child {
	grid-column: 1 / -1;
	background-image: url('../about/aboutIMG/Reconnect\ section.png');
}



.about-cta .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 480px;
	background-color: #E9ECFF;
}

.about-cta h6 {
	font-family: "Geist", sans-serif;
	font-weight: 400;
	font-size: 17px;
	text-transform: uppercase;
	color: #000000;
}

.about-cta h3 {
	font-family: "Anek Tamil", sans-serif;
	font-weight: 700;
	font-size: 57px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: -5%;
	text-align: center;
	margin: 18px 0;
}

.about-cta a {
	width: 185px;
	height: 41px;
	border-radius: 7.25px;
	background-color: #808CFD;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Geist Mono", monospace;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	color: #000000;
	text-transform: uppercase;
}







footer .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #E9ECFF;
	padding: 40px;
}

.footer-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	background-color: #E9ECFF;
}

.footer-head img {
	width: 16%;
	max-width: 80px;
}

.footer-head a {
	font-family: "Instrument Sans", sans-serif;
	font-weight: 700;
	font-size: clamp(28px, 4vw, 52px);
	color: #000000;
}

footer .container ul {
	margin-bottom: 10px;
}

footer .container p {
	display: flex;
	flex-direction: row;
	align-items: center;
}

footer .container span {
	margin-right: 50px;
}



footer .container ul div {
	font-weight: 600;
	text-transform: uppercase;
}



footer .container ul div {
	font-weight: 600;
	text-transform: uppercase;
}

@media (max-width: 799px) {
	.about-hero .container ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}

	.about-hero .container h4 {
		font-family: "Anek Tamil", sans-serif;
		font-weight: 700;
		font-size: clamp(36px, 4vw, 45px);
		line-height: 91%;
		color: #000000;
		margin: 20px;
		text-transform: uppercase;
	}

	.about-hero .container h6 {
		font-family: "Anek Tamil", sans-serif;
		font-weight: 700;
		font-size: clamp(16px, 4vw, 22px);
		line-height: 131%;
		color: #000000;
		margin: 0px 0px 0px 20px;
	}

	.about-hero .container p {
		display: block;
		font-family: "Geist, sans-serif";
		font-weight: 400;
		font-size: clamp(12px, 4vw, 17px);
		line-height: 131%;
		color: #000000;
		margin: 20px;
	}
}


@media (max-width: 650px) {
	footer .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 20px;
	}

}

@media (max-width: 550px) {
	body.navigation {
		overflow: hidden;
	}

	body.navigation.active {
		overflow: hidden;
	}

	.navigation.active {
		position: fixed;
		transform: translateX(-89%);
		margin-top: 54.5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 40px 37px;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.911);
		transition: transform 0.5s ease-in-out;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 30px;
		text-transform: uppercase;
		z-index: 10;
		overflow: hidden;
	}

	.navigation {
		position: fixed;
		transform: translateX(100%);
		margin-top: 54.5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 40px 37px;
		width: 375px;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.911);
		transition: transform 0.5s ease-in-out;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 30px;
		text-transform: uppercase;
		z-index: 10;
		overflow: hidden;
	}

	.navigation li {
		display: flex;
		align-items: center;
		justify-content: left;
		width: 100%;
		padding: 12px 17px;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 15px;
		border-bottom: #000000 1px solid;
	}

	.navigation li:hover {
		background-color: #808CFD;
		border-radius: 7.25px;
	}



	.mobile-menu {
		display: block;
		cursor: pointer;
	}

	.open {
		display: none;
	}

	.close {
		display: block;
	}

	.mobile-menu.active .open {
		display: block;
	}

	.mobile-menu.active .close {
		display: none;
	}

	.about-hero .container ul {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.about-hero .container ul li:nth-child(1) {
		grid-row: 2;
	}

	.about-hero .container ul li:nth-child(2) {
		grid-row: 1;
	}

	footer .container {
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;
	}

}