header {
	width: 100%;
	background-color: #E9ECFF;
	height: 81px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 37px;
	font-family: "Instrument Sans", sans-serif;
	font-weight: 700;
	font-size: 20px;
}

.logo img {
	max-width: 44px;
	max-height: 26px;
	margin-right: 5px;
}

.mobile-menu {
	display: none;
	margin-right: 20px;
}

.navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0px 37px;
}

.navigation li {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 17px;
	font-family: "Geist Mono", monospace;
	font-weight: 400;
	font-size: 15px;
}

.navigation li:not(:last-child) {
	margin: 0 26px;
}

.navigation li:hover {
	background-color: #808CFD;
	border-radius: 7.25px;
}


.categories h1 {
	font-family: "Anek Tamil", sans-serif;
	font-weight: 800;
	font-size: clamp(56px, 8vw, 116px);
	text-transform: uppercase;
	letter-spacing: -5px;
	line-height: 110%;
	color: #000000;
	padding: 20px;
	border-top: #000000 1px solid;
	border-bottom: #000000 1px solid;
	width: 100%;
	height: 168px;
	display: flex;
	align-items: center;
	justify-content: left;
	flex-wrap: wrap;
}

.categories h1 span {
	color: #808DFD;
	padding-left: 30px;
}

.categories-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.categories-list li {
	height: 480px;
	border: #00000085 1px solid;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.categories-list h4 {
	font-family: "Anek Tamil", sans-serif;
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 91%;
	color: #000000;
	margin: 30px 20px 80px 20px;
}

.categories-list p {
	font-family: "Geist", sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 131%;
	color: #000000;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: #000000 1px solid;
}

.categories-list p:nth-last-child(2) {
	border-bottom: none;
}

.categories-list a {
	font-family: "Geist Mono", monospace;
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
	line-height: 110%;
	background-color: #808CFD;
	color: #000000;
	margin: auto auto 20px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 226px;
	height: 41px;
	border-radius: 7.25px;
}





.reserve-cta .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 480px;
	background-color: #808CFD;
	padding: 20px;
}

.reserve-cta p {
	font-family: "Geist", sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #000000;
	max-width: 780px;
	margin: 18px 0;
	text-align: center;
}

.reserve-cta h3 {
	font-family: "Anek Tamil", sans-serif;
	font-weight: 700;
	font-size: 57px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: -5%;
	text-align: center;
}

.reserve-cta a {
	width: 185px;
	height: 41px;
	border-radius: 7.25px;
	background-color: #E9ECFF;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Geist Mono", monospace;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	color: #000000;
	text-transform: uppercase;
}





footer .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #E9ECFF;
	padding: 40px;
}

.footer-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	background-color: #E9ECFF;
}

.footer-head img {
	width: 80px;
}

.footer-head a {
	font-family: "Instrument Sans", sans-serif;
	font-weight: 700;
	font-size: 52px;
	color: #000000;
}

footer .container ul {
	margin-bottom: 20px;
}

footer .container p {
	display: flex;
	flex-direction: row;
	align-items: center;
}

footer .container span {
	width: 95px;
	margin-right: 50px;
}



footer .container ul div {
	font-weight: 600;
	text-transform: uppercase;
}

@media (max-width: 799px) {
	.categories-list h4 {
		margin: 20px 10px 30px 10px;
	}

	.categories-list li {
		padding: 10px;
	}
}

@media (max-width: 375px) {

	.navigation.active {
		position: absolute;
		transform: translateX(-323px);
		margin-top: 54.5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 40px 37px;
		width: 375px;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.911);
		transition: transform 0.5s ease-in-out;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 30px;
		text-transform: uppercase;
		z-index: 10;
		overflow: hidden;
	}

	.navigation {
		position: absolute;
		transform: translateX(500px);
		margin-top: 54.5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 40px 37px;
		width: 375px;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.911);
		transition: transform 0.5s ease-in-out;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 30px;
		text-transform: uppercase;
		z-index: 10;
		overflow: hidden;
	}

	.navigation li {
		display: flex;
		align-items: center;
		justify-content: left;
		width: 100%;
		padding: 12px 17px;
		font-family: "Geist Mono", monospace;
		font-weight: 400;
		font-size: 15px;
		border-bottom: #000000 1px solid;
	}

	.navigation li:hover {
		background-color: #808CFD;
		border-radius: 7.25px;
	}



	.mobile-menu {
		display: block;
		cursor: pointer;
	}

	.open {
		display: none;
	}

	.close {
		display: block;
	}

	.mobile-menu.active .open {
		display: block;
	}

	.mobile-menu.active .close {
		display: none;
	}

	.categories h1 {
		height: 100px;
		padding: 10px;
	}

	.categories h1 span {
		padding-left: 15px;
	}

	.categories-list {
		flex-wrap: wrap;
	}



	.reserve-cta h3 {
		font-size: 44px;
	}


	footer .container {
		flex-direction: column;
	}

	.footer-head a {
		font-size: 32px;
	}

	.footer-head {
		flex-direction: column;
	}
}